# This is a list of python packages used to generate documentation. This file is used with pip:
# pip install --user -r requirements.txt
#
Sphinx
breathe==4.18.1
sphinx-rtd-theme
sphinx-notfound-page
