# This is a list of python packages used to generate documentation. This file is used with pip:
# pip install --user -r requirements.txt
#
Sphinx
breathe
sphinx-rtd-theme
sphinx-notfound-page
sphinx-copybutton
sphinxcontrib-images
